
img {
  width: 250px;
  height: auto;
}

main {
  margin-top: 0 !important;
}

.my_book_info {
  flex: 1;
  width: 100%;
  padding: .5em;
}

.book_contents {
  margin-top: 0;
  padding-top: 0;
  position: absolute;
}