
.description {
  border-bottom: 2px solid whitesmoke;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.ingredients {
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
