img {
  width: 250px;
  height: auto;
}

main {
  flex:1;
  display: flex ;
  flex-direction: row;

}

section:nth-child(1) {
  flex:1;
  padding: .5em;
  margin: .5em;
  float: left;
}

section:nth-child(2) {
  flex:2;
  padding: .5em;
  margin: .5em;
} 

.figcaption {
  margin-bottom: 30px;
}
